.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameContent {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    /* Default to flex for easy centering */
}

/* Scanlines Effect */
.scanlines {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0) 50%,
            rgba(0, 0, 0, 0.1) 50%,
            rgba(0, 0, 0, 0.1));
    background-size: 100% 4px;
    pointer-events: none;
    z-index: 50;
    opacity: 0.3;
}